beautifulsoup4==4.9.3
helper==2.5.0
ipykernel==5.5.3
ml-collections==0.1.0
natsort==7.1.1
opencv-python==4.5.2.52
scikit-image==0.18.1
seaborn==0.11.1
sklearn==0.0
tensorboard==2.4.1
torchvision==0.9.1
tqdm==4.60.0
wandb==0.10.29
